<h2>Change your password</h2>

<%= simple_form_for(@user, :url => password_reset_path(@user), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, :label => "New password", :required => true, :autofocus => true %>
    <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true %>
    <%= hidden_field_tag :token, @token %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password" %>
  </div>
<% end %>