<div class="row auth">
  <div class="large-6 large-centered columns">
    <h1 class="header">Sign up</h1>

    <ul class="nav nav-tabs button-group round even-2" id="sign_up_type">
      <li class="<%= 'active' unless params[:type]=='employer' %>"><a href="#developer" class="button secondary" data-toggle="tab">I’m a developer</a></li>
      <li class="<%= 'active' if params[:type]=='employer' %>"><a href="#employer" class="button secondary" data-toggle="tab">I’m looking to hire</a></li>
    </ul>

    <div class="tab-content panel">
      <div class="tab-pane fade <%= 'active in' unless params[:type]=='employer' %>" id="developer">
        <%= simple_form_for(@user, :url => signup_path) do |f| %>

          <div class="form-inputs">
            <%= f.input :email, :required => true, :autofocus => true %>
            <%= f.input :password, :required => true %>
            <%= f.input :password_confirmation, :required => true %>
          </div>
          <hr>
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "submit" %>
          </div>
        <% end %>
      </div>
      <div class="tab-pane fade <%= 'active in' if params[:type]=='employer' %>" id="employer">
        <%= simple_form_for(@user, :url => signup_path) do |f| %>

          <div class="form-inputs">
            <%= f.input :email, :required => true, label: "Company email", :autofocus => true %>
            <%= f.input :password, :required => true %>
            <%= f.input :password_confirmation, :required => true %>
          </div>
          <hr>
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "submit" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="other_info">
      <%= link_to "Sign in", login_path %>
    </div>
  </div>
</div>