<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "TALENTED", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <%- if current_user -%>
        <li class="divider"></li>
        <li><%= link_to 'See profile', profile_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Edit Profile', edit_profile_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Setting', settings_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Sign out', logout_path, :method => :delete %></li>
      <%- else -%>
        <li class="divider"></li>
        <li><%= link_to "Sign in", login_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Sign up", signup_path %></li>
      <%- end -%>
    </ul>
  </section>
</nav>